# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.lerna-debug.log*

# Next.js
.out/
.next/
.cache/

# NestJS
dist/
build/

# Prisma
prisma/*.sqlite3
prisma/*.sql

# Environment variables
.env
.env.*
!.env.example

# Misc
.DS_Store
Thumbs.db
coverage/
*.tsbuildinfo
comfy_outputs/

# PDF source files (large binaries)
pdf/*.pdf
